<!DOCTYPE html>
<html>
<head>
    <title>Almuerzo - Admin</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <h1>Almuerzo - Admin Panel</h1>
    <ul>
        <li><a href="/admin/places">Manage Places</a></li>
        <li><a href="/admin/users">Manage Users</a></li>
    </ul>
    <a href="/signout">Sign out</a>
</body>
</html>
