<!DOCTYPE html>
<html>
<head>
    <title>Almuerzo</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <h1>Almuerzo</h1>
    <p>Welcome to Almuerzo!</p>
    <a href="/admin">Admin Panel</a>
</body>
</html>
